{% extends 'base.html.twig' %}

{% block title %}PostStatus index{% endblock %}

{% block body %}
    <h1>PostStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post_status in post_statuses %}
            <tr>
                <td>{{ post_status.id }}</td>
                <td>{{ post_status.label }}</td>
                <td>{{ post_status.createdAt ? post_status.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post_status.updatedAt ? post_status.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('post_status_show', {'id': post_status.id}) }}">show</a>
                    <a href="{{ path('post_status_edit', {'id': post_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_status_new') }}">Create new</a>
{% endblock %}
